.image-container img {
    filter: brightness(50%);
    display: block;
    align-items: center;
    
  } 
  
  .overlay-text {
     position:absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    color: #fff; 
     padding: 30px 30px;
    font-size: 50px; 
    text-align:center;
    font-weight: bold;
  }