<footer>
    <div class="content">
      <div class="top">
        <!-- <div class="logo-details">
          <i class="fab fa-slack"></i>
          <span class="logo_name">CodingLab</span>
        </div> -->
        <!-- <div class="media-icons">
          <a href="#"><i class="fab fa-facebook-f"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-linkedin-in"></i></a>
          <a href="#"><i class="fab fa-youtube"></i></a>
        </div> -->
      </div>
      <div class="link-boxes">
        <ul class="box">
          <li class="link_name">Quick Links</li>
          <li><a href="#">Home</a></li>
          <li><a href="#">About us</a></li>
          <li><a href="#">Services</a></li>
          <li><a href="#">Industries</a></li>
          <li><a href="#">Contact us</a></li>

        </ul>
        <ul class="box">
          <li class="link_name">Industries</li>
          <li><a href="#">Aeropace&Defence</a></li>
          <li><a href="#">Baning&Financial</a></li>
          <li><a href="#">Healthcare</a></li>
          <li><a href="#">Insurance</a></li>
          <li><a href="#">Locomotive</a></li>
          <li><a href="#">Industrial</a></li>
          <li><a href="#">Mobility</a></li>

        </ul>
        <ul class="box">
          <li class="link_name">Services</li>
          <li><a href="#">Cloud Services  </a></li>
          <li><a href="#">Cyber Security</a></li>
          <li><a href="#">Data Engineering</a></li>
          <li><a href="#">DevOps</a></li>
          <li><a href="#">GIS</a></li>
          <li><a href="#">Action</a></li>
        </ul>
        <ul class="box">
          <li class="link_name">Contact us</li>
          <li><a href="#">insta.nestdigital</a></li>
          <li><a href="#">Linkedin</a></li>
          <li><a href="#">fb.net</a></li>
          <li><a href="#">nest*gmail.com</a></li>
        </ul>
        <!-- <ul class="box input-box">
          <li class="link_name">Subscribe</li>
          <li><input type="text" placeholder="Enter your email"></li>
          <li><input type="button" value="Subscribe"></li>
        </ul> -->
      </div>
    </div>
     <div class="bottom-details">
      <div class="bottom_text">
        <span class="copyright_text">Copyright © 2024 <a href="#">Nest Digital</a>All rights reserved</span>
        <span class="policy_terms">
          <a href="#">Privacy policy</a>
          <a href="#">Terms & condition</a>
        </span>
      </div>
    </div>
  </footer>