<br>
    <div class="image-contain">
        <img src="../../../assets/buil.webp" alt="image"[width]="1500"[height]="300">
        <div class="overlay-text">Harnessing world-class technology</div>
    </div>
    <br>
    <BR>
    <div class="accordion" id="accordionPanelsStayOpenExample">
        <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                MISSION
              </button>
            </h2>
            <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse">
              <div class="accordion-body">
                <P>Be the global leader in providing end-to-end solutions in engineering and manufacturing for both hardware and software products in the high value added markets, satisfy our customers with innovative technology and superior quality, value and service.</P>
              </div>
            </div>
          </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
              VISION
            </button>
          </h2>
          <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
            <div class="accordion-body">
              <!-- <strong>This is the first item's accordion body.</strong> It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow. -->
            <P>Be a global technology driven company contributing to the enhancement of quality of life of the people and provide best value for all stake holders.</P>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
              WHO WE ARE
            </button>
          </h2>
          <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse">
            <div class="accordion-body">
                <P>Engineering Transformation. NeST Digital is the software arm of the globally trusted NeST Group of companies. We combine our Specialized Manufacturing Services, Engineering Design and Software Services under one roof to provide transformative turnkey solutions to customers.</P>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                WHAT WE BELIEVE IN
            </button>
          </h2>
          <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse">
            <div class="accordion-body">
                <P>Our core values make us who we are today
                    Our purpose and principles have shaped us into who we are today and they enable us to strive for greater heights. Every decision we make is closely aligned with our principles. These help us raise our bar, dive deep into challenges to achieve game-changing outcomes.</P>
            </div>
          </div>
        </div>
      </div>
      <BR>
        <br>
        <div class="container">
            <div class="image">
              <img src="../../../assets/OHANDS.jpg"[width]="1200"[height]="500">
            </div>
            <div class="text">
              <h4>Based on NeST Principles.</h4>
              <br>
              <h6>Our principles serve as the foundation of our organization and have moulded us into who we are today. We are powered by continuous innovation, strategic thinking and collaboration to deliver shared outcomes for better results and growth.</h6>
              <br>
              <h6>We adhere to the highest standards of work to deliver exceptional outcomes. Our commitment with our customers, partners and employees is built on trust and integrity.</h6>
              <br>
              <h6>We go above and beyond to serve our customers, delve deep into challenges and work hard to make their lives easier. We believe the best way to be productive is through teamwork and effective communication.</h6>
              <br>
              <h6>We anticipate change, embrace agility which helps us achieve business goals efficiently. We deal with ambiguity, seek diverse views and use proper judgment to make effective decisions.</h6>
              <!-- <div class="but">
              <button type="button" class="btn btn-outline-secondary">Read More</button>
            </div> -->
            </div>
          </div>
    <br>
    <br>
    <app-footer></app-footer>
    <br>
