<app-carosal></app-carosal>
<!-- <div class="width">
<p align="left">hello</p>

<p align="left"> <b><h1>clients</h1></b> </p>

<p align="center"> <b>Random Text in the middle</b> </p>
 <p align="right"> <b>Random Text on the right</b> </p>
</div> -->
<br>
<br>
<br>
<br>
  <div class="container">
    <div class="image">
      <img src="../../../assets/hand.jpg"[width]="1000"[height]="300">
    </div>
    <div class="text">
      <h4>Explore the Powerful Synergy of Digital Twin and IoT in Our Latest Tech Demonstrator.</h4>
      <br>
      <h6>Let’s take you through our latest tech demonstrator, where we showcase NeST Digital’s expertise in seamlessly integrating IoT and Digital Twin technologies. This meticulously designed solution is crafted to revolutionize and optimize our clients’ intricate operationsLet’s take you through our latest tech demonstrator.</h6>
      <br>
      <div class="but">
      <button type="button" class="btn btn-outline-secondary">Read More</button>
    </div>
    </div>
  </div>

  <br>
  <br>
  <div class="hand">
  <div class="card text-bg-dark">
    <img src="../../../assets/handcrop.jpg" class="card-img" alt="..."[width]="800" height="300">
    <div class="card-img-overlay">
      <h1 class="card-title">HACATHONS</h1>
      <br>
      <br>
      <h2 class="card-text">Microservices hackathon - on a mission to ideate and innovate. Leveraging the best technologies for the best solution.</h2>
      <p class="card-text"><small>Last updated 3 mins ago</small></p>
    </div>
  </div>
  </div>
  <br>
  <br>
  <br>
  <app-footer></app-footer>
  <br>